.strawberry {
    background-color: #c6262e;
}

.lime {
    background-color: #68b723;
}

.blueberry {
    background-color: #3689e6;
}

.banana {
    background-color: #f9c440;
}

.grape {
    background-color: #a56de2;
}

.orange {
    background-color: #f37329;
}

.mint {
    background-color: #28bca3;
}

.cocoa {
    background-color: #715344;
}

.bubblegum {
    background-color: #de3e80;
}

.guess label {
    color: @bg_color;
    font-weight: bolder;
    font-size: 1.3em;
    text-shadow: 0 0 0.3em alpha(@fg_color, 0.4);
}

.flat-headerbar {
    background: @bg_color;
    color: @fg_color;
    box-shadow:
        inset 0 1px 0 0 alpha(@highlight_color, 0.3),
        inset 1px 0 0 0 alpha(@highlight_color, 0.07),
        inset -1px 0 0 0 alpha(@highlight_color, 0.07);
}

headerbar {
    background: @bg_color;
    color: @fg_color;
}
