.strawberry {
    background-color: #c6262e
}

.lime {
    background-color: #68b723
}

.blueberry {
    background-color: #3689e6
}

.banana {
    background-color: #f9c440
}

.grape {
    background-color: #a56de2
}

.orange {
    background-color: #f37329
}

.mint {
    background-color: #28bca3
}

.cocoa {
    background-color: #715344
}

.bubblegum {
    background-color: #de3e80
}

